@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #12151b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

body,
html,
#app,
#app > div {
  height: 100%;
  width: 100%;
}
